@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    background: linear-gradient(180deg, #141B29 0%, #0C111B 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}